

.container {
    display: flex;
    height: 100%;
    align-items: stretch;
    background-color: #2ba5bb;

    > * {
        border: 1px solid #ccc;
        min-height: 100vh;

        & + * {
            border-left: none;
        }
    }

    .side-nav {
        flex: 1;
        max-height: 100vh;
        overflow: auto;
    }

    .content {
        flex: 4;
    }
}

.site__header {
    text-align: center;
}

.site__content {
    text-align: center;
}

#animationSandbox {
    display: block;
}

.css3icons {
    background-color: #2ba5bb;
    &__wpr {
        color: #eee;
        background-color: #2ba5bb;
    }
}

.css3 {
    list-style-type: none;
    padding: 0 40px;
    margin: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;

    &__icon {
        height: 64px;
        width: 64px;
        display: inline-block;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s ease-in-out;
        border: 1px solid yellow;
        margin: 2px;

        &:hover {
            background-color: darken(#2ba5bb, 10%);
        }
    }
}

.kit_item {
    padding: 2px 0 0 2px;
    float: left;
    display: block;
    background: #866cba;
    background: #2ba5bb;
    padding-bottom: 23px;

    &__li {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin-left: 23px;
        margin-top: 23px;
        background: #fff;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            box-shadow: 0 3px 50px -5px rgba(0,0,0,0.5);
        }
    }
}

.kit-icon {
    height: 40px;
    width: 40px;
    display: inline-block;
}


.css3-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;

    &__wpr {
        width: 60%;
        max-height: calc(100vh - 100px);
        background: #fff;
        box-shadow: 0 3px 100px -1px rgba(0,0,0,0.5);
        border-radius: 3px;
        position: relative;
        background: #f5f2f0;
        display: flex;
        align-items: stretch;
    }

    &__content {
        overflow: auto;
        // height: calc(100vh - 200px);
        width: 100%;
    }
}

.css3-close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: lighten(#000, 40%);
    transition: all .3s ease-in-out;
    z-index: 9999;
    
    &:hover {
        transform: rotate(45deg) scale(1.3);
        cursor: pointer;
    }
}